<mat-toolbar class="flex justify-between bg-slate-400/40 w-full">
  <span class="h-full p-3 bg-slate-500/20">
    <img src="assets/img/logo.png" alt="logo">
  </span>
  <ul class="flex gap-2">
    <li><button mat-flat-button class="bg-blue-500 hover:font-extrabold" routerLink="/Home" routerLinkActive="bg-blue-700/75">Home</button></li>
    <li><button mat-flat-button class="bg-blue-500 hover:font-extrabold" routerLink="/Store" routerLinkActive="bg-blue-700/75">Tienda</button></li>
    <li><button mat-flat-button class="bg-blue-500 hover:font-extrabold" routerLink="/Contact" routerLinkActive="bg-blue-700/75">Contacto</button></li>
    <li><button mat-flat-button class="bg-blue-500 hover:font-extrabold" routerLink="/About-us" routerLinkActive="bg-blue-700/60">Acerca de</button></li>
    <li><button mat-flat-button class="bg-blue-500 hover:font-extrabold" routerLink="/Blog" routerLinkActive="bg-blue-700/75">Blog</button></li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>